[submodule "db"]
	path = db
	url = https://github.com/koniferous22/npns-db.git
[submodule "npns-gateway"]
	path = gateway
	url = https://github.com/koniferous22/npns-gateway.git
[submodule "services/npns-tag-service"]
	path = services/tag
	url = https://github.com/koniferous22/npns-tag-service.git
[submodule "services/npns-account-service"]
	path = services/account
	url = https://github.com/koniferous22/npns-account-service.git
[submodule "npns-challenge-service"]
	path = services/challenge
	url = https://github.com/koniferous22/npns-challenge-service.git
[submodule "services/content"]
	path = services/content
	url = https://github.com/koniferous22/npns-content-service.git
[submodule "services/challenge"]
	path = services/challenge
	url = https://github.com/koniferous22/npns-tag-service.git
